@{
    ViewBag.Title = "Inicio";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Inicío</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">            
            <li class="breadcrumb-item active">Home</li>
        </ol>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <span style="line-height: 30px;">
                        Estudo e praticas dirigidos a utilização do banco de dados <a target="_blank" href="https://www.mongodb.com/">MongoDB</a>
                        junto com a biblioteca <a target="_blank" href="https://www.mongodb.com/">C# and .NET MongoDB Driver</a> (driver .NET oficial para o MongoDB)
                        e o <a target="_blank" href="https://www.asp.net/mvc">ASP.NET MVC</a>.
                        Treinamento realizado na <a target="_blank" href="https://university.mongodb.com/">MongoDB University</a> e outras praticas.
                        <br /><br />
                    </span>
                    <p>
                        <a href="https://docs.mongodb.com/manual/" target="_blank" class="btn btn-primary m-b-10 m-l-5">Aprenda mais sobre MongoDB&raquo;</a>
                        &nbsp;
                    </p>
                </div> 
            </div>
        </div>
    </div>


    <div class="row">
        <!-- /# column -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-title">
                    <h4>M101N: MongoDB for .NET Developers</h4>
                </div>
                <div class="button-list">
                    <p class="text-muted m-b-15">
                        Resolução das "homeworks" do curso que abordou a instalação básica do MongoDB, JSON, Schema Design, consultas, operações CRUD, indexação, agregação básica e o trabalho com o driver C# .NET.
                    </p>                    
                    <button type="button" class="btn btn-primary m-b-10 m-l-5">Mais&raquo;</button>
                </div>
            </div>            
        </div>

        <!-- /# column -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-title">
                    <h4>M101.NET Blog Application</h4>
                </div>
                <div class="button-list">
                    <p class="text-muted m-b-15">
                        Implementação simples de um Blog multi-usuário para o curso de MongoDB .NET (M101.NET).                        
                    </p>
                    <button type="button" class="btn btn-primary m-b-10 m-l-5">Mais&raquo;</button>
                </div>
            </div>
        </div>
        
        <!-- /# column -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-title">
                    <h4>Repository Pattern</h4>
                </div>
                <div class="button-list">
                    <p class="text-muted m-b-15">
                        Utilização do padrão Repositório usando o MongoDB e com o driver C# .NET.
                    </p>
                    <button type="button" class="btn btn-primary m-b-10 m-l-5">Mais&raquo;</button>
                </div>
            </div>            
        </div>
        
    </div>
</div>